body {
    margin-top: 12em;
    width: 100vw;
    background-color: whitesmoke;
}

h1,
h2,
h3,
p,
li,
label {
    font-family: 'Dosis', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

img {
    height: auto;
    width: 50%;
    margin: 0 auto;
}

.error{
    color: rgb(207, 48, 48);
}

.navbar {
    height: 10rem;
    position: fixed;
    background-color: white;
}

.navbar ul {
    margin: 0 auto;
}

.dropdown {
    list-style: none;
    padding: 0;
}

.menu_dropdown {
    font-family: 'Dosis', sans-serif;
}

.dropdown-toggle {
    font-family: 'Dosis', sans-serif;
    color: black;
    font-size: 1.5rem;
}

.headerLogo {
    font-size: 11rem;
    text-align: center;
}

.shoppingBag{
    text-align: left;
    font-size: 1.5rem;
}

.userLogo{
    text-align: right;
    font-size: 1.5rem;
}

.card {
    font-family: 'Dosis', sans-serif;
    padding: 1em;
    margin: 0 auto 2em auto;
}

.orderInfo {
    font-family: 'Dosis', sans-serif;
    padding: 1em;
    box-shadow: 2px 2px 5px 0;
    margin: 0 auto 2em auto;
    border-radius: .5rem;
    background-color: white;
}

.howManyDoYouWant {
    width: 20%;
    margin: 0 auto;
}

footer {
    text-align: center;
    height: 9em;
}

footer ul {
    list-style: none;
    padding: 0;
}
